<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- STYLES -->
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=League+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
    <!-- -->
  </head>
  <body>
    <div class="xyz" id="index-header">
      <h1>world florist</h1>
    </div>
    <div class="" id="flower-card">
      <% for (let flower of flowers) { %>
        <a href="/flower/<%=flower._id%>"><img src="<%=flower.img%>" id="img-index" height=400px width=300px alt="flower image"></a>
      <%}%>
    </div>
  </body>
</html>
