<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- STYLES -->
    <%- include ('./partials/head.ejs') %>
    <meta charset="utf-8">
    <title>flower info</title>
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <div class="" id="flower-item">
    <h2><%=flower.name%></h2>
    <p><%=flower.descr%></p>
    </div>
  </body>
</html>
