/* *{
  border: 1px solid white;
} */
body{
  background-image: url(/imgs/whiteflora.jpeg);
  background-size: cover;
  height: 800px;
}
/* INDEX PAGE */
#header img{
  margin-left: 13%;
  width: 75%;
}
#new-btn{
  display: flex;
  flex-direction: column;
  margin-left: 44%;
  background-color: #899e6c;
  border:2px solid white;
  box-shadow: 0 0 20px 5px white;
}
#new-btn a{
  text-decoration: none;
  color: black;
  font-family: 'Lily Script', cursive;
}
#flowers{
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  #flowers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
#flower-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#flower-index img{
  border: 3px solid whitesmoke;
  border-radius: 50%;
  height: 30%;
  width: 30%;
  margin: 1rem;
  box-shadow:
    0 0 25px 20px white;
}
#flower-index h2{
  font-family: 'Lily Script', cursive;
}
.btns{
display: flex;
flex-direction: column;
align-items: center;
width: 15%;
}
.btns button, #submit-btn{
  margin: 5px 0 5px 0;
  background-color: yellow;
  border: 2px solid whitesmoke;
}
.btns #out-btn{
  background-color: lightgray;
}
.btns #out-btn:hover{
  background-color: red;
  transition-duration: .7s;
}
#flower-index a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}
