body{
  background-image: url(/imgs/holo2.jpg);
  background-size: stretch;
}
/* INDEX PAGE */
#header img{
  width: 100%;
  height: 90%;
}
#flowers{
  width: 100%;
}
#flower-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#flower-item img{
  border: 3px solid whitesmoke;
  border-radius: 50%;
  height: 35%;
  width: 28%;
  margin: 1rem;
  margin-left: 35%;
  box-shadow:
    0 0 20px 10px yellowgreen;
    0 0 25px 20px white;
}
#flower-item h2{
  font-family: 'Lily Script', cursive;
}
#flower-item button{
  border-radius: 15%;
  background-color: coral;
  border: 3px solid coral;
  height: 50px;
  width: 100px;
}
#flower-item a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: 'League Script', cursive;
}
