body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/476/596/large_2x/vector-abstract-hologram-gradient-background.jpg);
  background-position: center;
  background-size: auto;
}
/* INDEX PAGE */
#index-header{
  display: flex;
  justify-content: center;
  font-family: 'League Script', cursive;
  font-size: 100%;
  color: white;
  text-shadow:
}
#flowers{
  width: 100%;
}
#flower-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#flower-item img{
  border: 3px solid whitesmoke;
  border-radius: 50%;
  height: 35%;
  width: 28%;
  margin: 1rem;
  margin-left: 35%;
  box-shadow:
    0 0 20px 10px yellowgreen;
    0 0 25px 20px white;
}
