body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/476/596/large_2x/vector-abstract-hologram-gradient-background.jpg);
  background-position: center;
  background-size: auto;
}
/* INDEX PAGE */
#index-header{
  display: flex;
  justify-content: center;
  font-family: 'League Script', cursive;
  font-size: 100%;
  color: white;
  text-shadow:
}
#flower-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin-left: 35%;
}
#flower-card img{
  height: 30%;
  width: 30%;
  border-radius: 50%;
  margin: 1.5rem;
}
